{% if field.value %}
    {% set split = field.value|split(' ') %}
    {% set zoom = 18 %}
    <a href="https://www.openstreetmap.org/search?lat={{ split[1] }}&lon={{ split[0] }}#map={{ zoom }}/{{ split[1] }}/{{ split[0] }}" target="_blank">
        {{ field.formattedValue }}
    </a>
{% endif %}
