{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}
